.show-channel-section {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-left: 10px;
}

.channel {
    display: flex;
    width: 150px;
    margin: 5px;
    margin-left: 5px;

}